# =========================
# REDIS
# =========================
REDIS_URL=redis://localhost:6379

# =========================
# MINIO (S3 COMPATÍVEL)
# =========================
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_URL=http://localhost:9000
MINIO_BUCKET=public